
.image-upload-container {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
.label {
    display: block;
    margin-bottom: 8px;
  }
  
  #imageUpload {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  img {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
  }
  