.textEditor {
    height: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.textEditorContainer {
    width: 70%;
}

.textEditor .ql-toolbar.ql-snow {
    border: none;
    border-bottom: 1px solid #ccc;
    flex: 0 0 auto;
}

.textEditor .ql-container.ql-snow {
    border: none;
    flex: 1;
    overflow: auto;
}