.textEditor {
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.textEditorContainer {
    width: 70%;
    height: 100%;
}

.textEditor .ql-toolbar.ql-snow {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.textEditor .ql-container.ql-snow {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}