.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 1rem;
}

.selectorsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  border-radius: 10px;
  width: fit-content;
  padding-right: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-block: 15px;
  margin-left: 10px;
  width: 180px;
}

.section>div>label>span {
  color: red;
  font-weight: bold;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
}

.contentTitle {
  font-weight: 600;
  font-size: 20px;
  margin-block: 15px;
  margin-top: 20px;
  display: block;
}

.contentEditorContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 500px;
}

.contentPreview {
  padding-inline: 10px;
  margin: 0;
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 15;
  line-clamp: 15;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: normal;
  white-space: normal;
}

.contentPreview img {
  width: 100%;
  height: auto;
}

.contentPreview p {
  margin: 0;
}

.regenerateImgButton {
  border-radius: 5px;
  border: none;
  position: absolute;
  aspect-ratio: 1;
  bottom: 5px;
  right: 5px;
  background: #f5f5f5;
  opacity: 0.7;
  color: black;
  padding: 2px 4px;
}

.textMockContainer p {
  background: white;
  color: transparent;
  margin-bottom: 8px;
  font-size: 10px;
}

.previewCard {
  width: 30%;
  border-radius: 10px;
  background: #efefef;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.previewImgContainer {
  border-radius: 10px;
  background: white;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.topStoryButton {
  border: none;
  background: none;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
  color: #9d9d9d;
  font-weight: 100;
}

.topStoryButton svg {
  height: 25px;
  width: fit-content;
}