.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  gap: 25px;
  padding: 5%;
}

.container h2 { 
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

.container img {
  width: 8%;
  height: auto;
}
