.item {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: #FFFFFF9c;
  display: grid;
  /* grid-template-columns: 10% 10% 34% 16% 10% 10% 10%; */
  grid-template-columns: 10% 12% 37% 16% 13% 12%;
  align-items: center;
}

.item.bot {
  width: 80%;
  margin: auto;
  /* grid-template-columns: 12% 11% 34% 18% 13% 12%; */
  grid-template-columns: 12% 13% 38% 18% 19%;
  margin-bottom: 20px;
  cursor: pointer;
}

.item-input {
  grid-column: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-input input {
  min-width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 2px;
  border: 1.5px solid #ccc;
  appearance: none;
  cursor: pointer;
}

.item-input input:checked {
  background-color: #FF6C0D;
  border-color: #FF6C0D;
  background-image: url('data:image/svg+xml,%3Csvg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M2 14.5L10 22.5L24 2" stroke="%23FFECD3" stroke-width="4"/%3E%3C/svg%3E');
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.item-input input:disabled {
  cursor: url('../../../../../assets/icons/disabledIcon.svg') 10 10, auto;
}

.item.checked {
  background-color: #FFECD3;
}

.img-container {
  grid-column: 2;
  display: flex;
  margin: auto;
}

.img-container img {
  width: 60px;
  max-width: 100%;
  margin-block: auto;
  border-radius: 50%;
  /* object-fit: cover; */
  object-fit: scale-down;
  aspect-ratio: 1;
}

.item-details {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  font-size: 14px;
  height: 100%;
  margin-left: 10px;
  justify-content: space-evenly;
  overflow: auto;
  margin-block: 9px;
}

.item-details::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.item-details::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  border-radius: 5px;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.item-last-run {
  color: #A3A3A3;
}

.chevron-button,
.edit-btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.edit-btn {
  grid-column: 4;
}

.chevron-button {
  font-size: 50px;
  color: #D4D4D4;
  grid-column: 6;
}

@media screen and (max-width: 1200px) {
  .item {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .item {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .item {
    width: 100%;
    grid-template-columns: 15% 17% 30% 19% 19%;
  }

  .img-container img {
    width: 40px;
    height: 40px;
    /* margin-inline: 10px; */
  }

  .container-lg {
    padding: 30px !important;
  }
}