.bot-settings-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.titleIcon {
  height: 40px;
}

.bot-settings-container>h2 {
  margin: 0;
  height: 13%;
  font-size: 2.5rem;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

.settings-container {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  gap: 3%;
  height: 17%;
  padding-block: 1%;
}

.settings-container>div {
  border-radius: 7px;
  border: 1.5px solid black;
  color: black
}

.settings-container>div>span {
  position: relative;
  top: -13px;
  left: 16px;
  background: #f3f4f7;
  font-weight: 500;
}

.settings-container button {
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
}

/* .modal-btn {
  height: 90px;
  width: 250px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: orange;
  margin-right: 20px;
  margin-left: 10px;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
} */

/* .modal-btn:hover {
  color: #fff;
  background-color: rgb(255, 188, 62);
} */

/* .spinnergnral {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
} */

/* ------------ DAPPS STYLES ------------- */

.dappsTable {
  margin: 1.8rem 0;
}

.dappsInput {
  margin: 0.8rem 0;
  width: 90%;
}

.formDescription {
  height: 80px;
  text-align: left;
  vertical-align: top;
}

.formGeneral {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createBtn {
  width: 90%;
  margin: 0.8rem 0;
}

.btn-options {
  position: relative;
}

.iconBotList {
  font-size: 20px;
}

.alertSucess {
  margin: 1rem 0;
}

.treshold>div,
.create>div,
.keywords>div {
  display: flex;
  width: 100%;
  font-size: smaller;
  justify-content: space-evenly;
  position: relative;
}

/* .keywords>div {
  bottom: 10%;
} */

.treshold>div,
.create>div {
  align-items: center;
  gap: 3px;
  bottom: -30%;
}

.keywords>div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 43%;
}

.keywords>div>div>div {
  display: flex;
  flex-direction: row;
  border-top: 0.5px solid black;
  margin-top: 3px;
  padding-top: 3px;
  width: 100%;
  justify-content: space-evenly;
}

.keywords>div span {
  width: 100%;
  text-align: center;
}