.top-container {
  height: 15%;
  display: grid;
  padding-top: 1%;
  padding-inline: 10px;
  /* grid-template-columns: 10% 58% 10% 10%; */
  grid-template-columns: 10% 59% 20% 10%;
}

.top-container button,
.bot-list-container button {
  background: transparent;
  border: none;
  padding: 0px;
}

.pause-btn {
  color: #525252;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  grid-column: 3;
  justify-self: center;
}

.hide-btn {
  color: #FF6C0D;
  text-decoration: underline;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bot-list-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 85%;
  width: 100%;
  gap: 1rem;
  padding-right: 5px;
}

/* scrollbar styling */

/* total width */
.bot-list-container::-webkit-scrollbar {
  background-color: #F5F5F5;
  width: 14px;
}

/* scrollbar itself */
.bot-list-container::-webkit-scrollbar-thumb {
  background-color: #E5E5E5;
  border-radius: 16px;
  border: 4px solid #F5F5F5;
}

/* set button(top and bottom of the scrollbar) */
.bot-list-container::-webkit-scrollbar-button {
  display: none;
}

@media screen and (max-width: 450px) {
  .top-container {
    height: fit-content;
    grid-template-columns: 10% 48% 30%;
    padding-bottom: 10px;
  }

  .bot-list-container {
    padding-bottom: 50px;
    overflow-x: hidden;
  }

  .bot-list-container::-webkit-scrollbar {
    display: none
  }
}