
  
  .titlemodal {
    color: white;
    display: flex;
    justify-content: space-around;

  }
  
  .button-row {
   /* Ajusta según sea necesario */
   display: flex;
   justify-content: space-around;
  }

  .addwords{
    background-color: orange;
    border: 1px solid orange;
  }

  .addwords:hover{
    background-color: rgb(255, 199, 95);
    border: 1px solid orange;
    color: black;
  }
  
  .espacio{
    margin: 10px;
  }

  .modal-body{
    margin-left: -20px;
    padding: 20px;
  }