  .custom-modal {
    width: 100%;
  }
  

  .titlemodal {
    color: #282828;
    display: flex;

    justify-content: space-around;
  }
  
  .button-row {
   /* Ajusta según sea necesario */
   display: flex;
   justify-content: space-around;
  }

  .addwords{
    background-color: orange;
    border: 1px solid orange;
  }

  .addwords:hover{
    background-color: rgb(255, 199, 95);
    border: 1px solid orange;
    color: black;
  }
  
  .espacio{
    margin: 0;
    /* border: #282828 1px solid; */
  }

  .modal-body{
    margin-left: -20px;
    padding: 20px;
  }