.loginlogo{
    width: 170px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
    margin-left: 33%;
    border-radius: 50%;
    margin-bottom: 20px;
}


.loginbtn{
    background-color: #ffa600b3;
    outline: none;
    border: none;
}

.loginbtn:hover{background-color: #d68b00b3;}

.error-message {
  color: red;
  padding: 5px;
}
