.dashboardMain{
    display: flex;
    flex-direction: column;
}

.mb-2{
    display: flex;
    width: 100%;
}

.dasboardSubMain{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.centered-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 200px;
    margin: auto;
    border: 2px solid #ccc; 
    border-radius: 5px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .icon {
    font-size: 2em; 
    margin-bottom: 10px; 
  }
  
  .title {
    font-size: 1.5em; 
    margin: 0; 
  }
  
  .subtitle {
    font-size: 0.9em; 
    margin: 10px 0 0 0; 
    box-sizing: border-box;
  }
  