.dashlogo {
  width: 100px;
  height: auto;
}

.downn {
  margin-top: 3px;
  outline: none;
  border: none;
}

.logout-button {
  cursor: pointer;
  outline: none;
  border: none;
}

.downn:focus {
  outline: none;
  border: none;
}

