
  
  .titlemodal {
    color: white;
    display: flex;
    justify-content: space-around;

  }
  
  .button-row {
   /* Ajusta según sea necesario */
   display: flex;
   justify-content: space-around;
  }

  
  .espacio{
    margin: 10px;
  }

  .modal-body{
    margin-left: -20px;
    padding: 20px;
  }