
  
  .titlemodal {
    color: white;
    display: flex;
    justify-content: space-around;

  }

  .optioname{
    text-transform: capitalize;
  }
  
  .button-row {
   display: flex;
   justify-content: space-around;
  }

  .modal-body{
    padding: 2rem 0;
    margin: 0;
  }

  .formMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .formSubmain{
    /* border: 1px solid #282828; */
    margin: 0 0 1rem 0;
    width: 90%;
  }

  .closeModalBtn {
    cursor: pointer;
    align-self: flex-start;
    padding: 10px 15px;
    color: #e74c3c;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .closeModalBtn:hover {
    color: #c0392b; 
  }
  

  
