.user-img {
  height: 100px;
  width: auto;
  border-radius: 100%;
}

.name, .email {
  margin: 0;
  font-weight: bold;
  /* text-align: center; */
}

.name {
  font-size: 25px;
}

.user-info-container p, .user-plans-container p {
  margin: 0px;
}

.user-info-subcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 20px;
  justify-content: center;
}

.user-info-container, .user-plans-container {
  padding: 30px;
  height: 200%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

/* Check Icon */
.text-info {
  position: relative;
  top: 0px;
}

.user-plans-container {
  flex-direction: column;
}

.plans-title {
  font-weight: bolder;
}

.price {
  width: 30%;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  align-self: center;
}

.plan-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.plan-name {
  font-size: 20px;
  font-weight: bold;
}

.user-plans-container > div {
  display: flex;
  flex-direction: row;
}