.user-img {
  height: 100px;
  width: auto;
  border-radius: 100%;
}

.name, .email {
  margin: 0;
  font-weight: bold;
  /* text-align: center; */
}

.name {
  font-size: 20px;
}

.user-info-container p {
  margin: 0px;
}

.user-info-subcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 20px;
  justify-content: center;
}

.user-info-container, .user-plans-container {
  padding: 30px;
  height: 200%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.text-info {
  position: relative;
  top: 0px;
}

.user-plans-container {
  flex-direction: column;
}

.plans-title {
  font-weight: bolder;
}