.search-tool-item {
    border: 1px solid #ddd;
    border-radius: 15px;
    cursor: pointer;
    padding: 0; /* Eliminar el padding del contenedor */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    overflow: hidden; /* Asegurarse de que los bordes sean visibles */
  }
  
  .search-tool-item h3 {
    margin: 0 0 10px;
    font-size: 24px;
  }
  
  .search-tool-item p {
    margin: 5px 0;
    color: #555;
  }
  
  .search-tool-item .tag {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
  }
  
  .search-tool-item .tag.valid {
    background-color: green;
  }
  
  .search-tool-item .tag.bin {
    background-color: red;
  }
  
  .modal {
    display: block;
    border-radius: 15px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  .close {
    color: red; /* Cambiar el color del botón de cerrar a rojo */
    float: right; /* Posicionar el botón a la derecha */
    font-size: 30px; /* Ajustar el tamaño del ícono de cerrar */
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 1px;
    right: 10px;
    z-index: 1; /* Asegurar que esté sobre el contenido del modal */
  }
  
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .img-modal-news {
    margin-top: 3%;
    margin-bottom: 1%;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .search-tool-item .tag.bot {
    background-color: orange;
  }
  

  .img-modal-news-card{

    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  h3, p {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
  }