html,
body,
#root,
#root>div {
  height: 100%;
}

.css-9emuhu-MuiPaper-root-MuiDrawer-paper {
  width: 800px;
  margin: auto;
  height: fit-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  padding-bottom: 0px;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: transparent !important;
}

/* Drawer scrollbar styles */
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  overflow-x: hidden;
}

/* total width */
.css-1160xiw-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar {
  background-color: #ffffff;
  width: 14px;
}

/* scrollbar itself */
.css-1160xiw-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-thumb {
  background-color: #E5E5E5;
  border-radius: 16px;
  border: 4px solid #ffffff;
}

/* set button(top and bottom of the scrollbar) */
.css-1160xiw-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-button {
  display: none;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
}

.MuiDrawer-root {
  z-index: 1 !important;
}

.fade.modal, .fade.modal-backdrop {
  z-index: 2 !important;
}

.swal2-container {
  z-index: 3;
}

@media screen and (max-width: 450px) {
  .footer {
    height: fit-content;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 1;
  }
}