body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.header>.container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    @include ltr-rtl("margin-right", auto);
  }
}

.header>.container-fluid+.container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background-color: var(--cui-dark-bg-subtle);
    }

    .footer {
      --cui-footer-bg: var(--cui-body-bg);
    }

    .waring-sign-png {
      // Change png to white color
      filter: invert(1) brightness(2) !important;
    }

    #table svg,
    #table span,
    #table td,
    #table th,
    #table-pagination,
    .ql-editor span,
    .ql-editor strong,
    .allAnalysisLI strong,
    .allAnalysisLI p,
    .allAnalysisLI span,
    .form-control.input,
    .css-1ps6pg7-MuiPaper-root span,
    .css-1ps6pg7-MuiPaper-root th,
    .css-1ps6pg7-MuiPaper-root div,
    .css-1ps6pg7-MuiPaper-root td,
    .analysisSubmain p,
    .search-tool-item p,
    .card p,
    .deleteBtn,
    .modal-content p,
    .swal,
    .edit-btn,
    .top-container button,
    .MuiDrawer-paper,
    .user-info-subcontainer p,
    .user-plans-container > div p {
      color: white !important;
    }

    .DeleteItemModal_subcontainer__-ZHF3>svg,
    .MuiDrawer-paper svg {
      fill: white;
    }

    .allAnalysisLI {
      box-shadow: rgb(16 16 16) 0px 1px 4px !important;
    }

    .page-button {
      background-color: #2a303d;
      border: gray
    }

    .page-button:hover,
    .submitAnalisys,
    .postLaterButton,
    .schButton {
      background-color: transparent !important;
    }

    .page-button:disabled {
      background-color: #4e4e4e;
    }

    .api-card,
    .analysisSubmain,
    #searchHeader,
    .allAnalysisLI,
    .formContainer,
    .css-1ps6pg7-MuiPaper-root,
    .card,
    .search-tool-item,
    .swal {
      background-color: #2a303d !important;
      border: gray !important
    }

    .ql-toolbar.ql-snow {
      background: #818181 !important;
    }

    #showPasswordButton {
      border-color: #333a49;
      background-color: rgb(42 48 61);
    }

    .item.checked,
    .WhiteList_keyword__b5GFq,
    .BlackList_keyword__dsClM {
      background-color: #945d15;
    }

    .switch-button.active,
    .BotForm_submitButton__aSQ\+-:disabled,
    .NewCategoryForm_submitButton__IenMY:disabled {
      background-color: #6e4b00 !important;
    }

    .settings-container>div>span,
    .MuiDrawer-paper {
      background-color: #1e222a;
    }

    .settings-container>div,
    .keywords {
      border-color: white;
      color: white;
    }

    // Keywords settings container
    .keywords.disabled {
      border-color: #a3a3a3;
      color: #a3a3a3;
    }


    // Category list scroll bar
    .bot-list-container::-webkit-scrollbar,
    .css-1160xiw-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar {
      background-color: #1e222a;
    }

    .bot-list-container::-webkit-scrollbar-thumb,
    .css-1160xiw-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-thumb {
      background-color: #484848;
      border-color: #1e222a;
    }

    .MuiDrawer-paper textarea::-webkit-scrollbar-thumb {
      border-color: #2a303d;
    }

    .item {
      background-color: rgba(24, 26, 27, 0.61);
    }

    .switch-button {
      background-color: #272727;
    }

    // Bot settings forms inputs
    #frequency,
    .MuiDrawer-paper input,
    .MuiDrawer-paper select,
    .MuiDrawer-paper textarea,
    .MuiDrawer-paper textarea::-webkit-scrollbar,
    .NewCategoryForm_input__b5u00,
    .BotForm_keywordInput__OaLIj,
    .WhiteList_keywordInput__Odyg6,
    .BlackList_keywordInput__f9zAk,
    .BotForm_input__6xnak,
    .BotForm_keywordsContainer__-Nath,
    .BotForm_imgContainer__tpUOv,
    .NewCategoryForm_imgContainer__E0geY,
    #category-alias,
    .css-vtpge1-MuiSlider-root .MuiSlider-valueLabel, 
    #customInput,
    #background-color-input,
    #whitelist-keywords-container,
    #blacklist-keywords-container,
    #blacklist-keywords-input,
    #whitelist-keywords-input,
    #categoryform-icon-container,
    #categoryform-border-color-input {
      background-color: #2a303d !important;
      color: white;
    }

    #botform-whitelist-keyword,
    #botform-blacklist-keyword {
      background-color: #8b8b8b;;
    }
    #bot-form-submit-button,
    #categoryform-submit-button {
      background-color: #6e4b00;
    }

    .BotForm_submitButton__aSQ\+-:disabled,
    .BotForm_imgPicker__9tI89::file-selector-button, 
    .NewCategoryForm_imgPicker__iTTJX::file-selector-button,
    #botform-icon-input::file-selector-button,
    #categoryform-icon-input::file-selector-button {
      background-color: #4e4e4e;
    }

    #keyword-tag {
      background-color: #FF8739
    }
  }
}