body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    @include ltr-rtl("margin-right", auto);
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background-color: var(--cui-dark-bg-subtle);
    }

    .footer {
      --cui-footer-bg: var(--cui-body-bg);
    }

    .waring-sign-png {
      // Change png to white color
      filter: invert(1) brightness(2) !important;
    }

    #table svg,
    #table span,
    #table td,
    #table th,
    #table-pagination,
    .ql-editor span,
    .ql-editor strong,
    .allAnalysisLI strong,
    .allAnalysisLI p,
    .allAnalysisLI span,
    .form-control.input,
    .css-1ps6pg7-MuiPaper-root span,
    .css-1ps6pg7-MuiPaper-root th,
    .css-1ps6pg7-MuiPaper-root div,
    .css-1ps6pg7-MuiPaper-root td,
    .analysisSubmain p,
    .search-tool-item p,
    .card p,
    .deleteBtn,
    .modal-content p {
      color: white !important;
    }

    .allAnalysisLI {
      box-shadow: rgb(16 16 16) 0px 1px 4px !important;
    }
    
    .page-button {
      background-color: #2a303d;
      border: gray
    }
    
    .page-button:hover,
    .submitAnalisys,
    .postLaterButton,
    .schButton {
     background-color: transparent !important;
    }
    
    .page-button:disabled {
      background-color: #4e4e4e;
    }

    .api-card,
    .analysisSubmain,
    #searchHeader,
    .allAnalysisLI,
    .formContainer,
    .css-1ps6pg7-MuiPaper-root,
    .card,
    .search-tool-item {
      background-color: #2a303d !important;
      border: gray !important
    }
    
    .ql-toolbar.ql-snow {
      background: #818181 !important;
    }

    #showPasswordButton {
      border-color: #333a49;
    }
  }
}
