.tableGeneral{
    margin: 1rem 0;
}

.hackCreateBtn{
    margin: 1rem 0;
}

.thCenter {
    text-align: center;
    vertical-align:middle;
  }

/* .hacksTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */