.table-container {
  height: 80dvh;
}

/* Remove rows container padding */
.MuiDataGrid-virtualScrollerContent.css-1kwdphh-MuiDataGrid-virtualScrollerContent {
  padding-inline: 0px;
}

/* Remove header container padding */
.MuiDataGrid-topContainer.MuiDataGrid-container--top {
  padding: 0;
}
 
/* Remove cell blue border */
.MuiDataGrid-cell:focus {
  outline: none !important;
}

/* Center cell text */
.MuiDataGrid-cell {
  text-align: center !important;
  cursor: pointer;
}

/* Center column title */
.MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center;
}

/* Set table and "no rows" container's backrground transparent */
.table> :not(caption)>*>*,
.MuiDataGrid-overlay {
  background-color: transparent !important;
}

/* Table header color */
.MuiDataGrid-main .MuiDataGrid-virtualScroller .MuiDataGrid-topContainer>div>div {
  background-color: #8fa6b9;
}

/* Custom header titles font */
.MuiDataGrid-columnHeaderTitle {
  font-weight: bolder !important;
  color: white;
}

/* Disable scrolling on pagination tools container */
.MuiTablePagination-root.css-16mfp94-MuiTablePagination-root {
  overflow: hidden;
}

/* Change arrow buttons && bottom te color */
.table svg,  .css-de9k3v-MuiDataGrid-selectedRowCount {
  color: white;
  font-weight: bolder;
}

/* Remove page count margin-bottom */
.MuiTablePagination-root p {
  margin: 0px;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    /* Set table font white when dark mode is on */
    .table {
      color: white !important;
    }
  }
}