.save-btn{
    height: 40px !important;
    width: 120px;
    color: orange;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 20px;
    border: 2px solid orange;
}

.save-btn:hover{
    height: 40px !important;
    width: 120px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(255, 188, 62);
    margin-right: 20px;
    border: none;
}

.space{
    margin: 10px;
    color: green;
    font: 400;
}

.chartTitle{
    padding: 10px;
}

.message{
    color: #282828;
    text-transform: capitalize;
}

.mainContainer {
    margin: 0px 0px 30px 0;
}

.mainContainer {
    width: 90%;
    margin: auto
}

.lastContainer{
 display: flex;
 align-items: center;
 /* border: #282828 1px solid; */
}

.column {  
    width: 100%;
}

.chatTitle{
    padding: 20px 0px 20px 20px;
}

.chartOptions {
    display: flex;
    margin: 1rem 0;
}

.input{
    color: #282828;

}
.input::placeholder {
    color: gray;
    font-size: 14px;
}



