.save-btn{
    height: 40px !important;
    width: 100px;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: orange;
    margin-right: 20px;
    border: none;
}

.save-btn:hover{
    height: 40px !important;
    width: 100px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(255, 188, 62);
    margin-right: 20px;
    border: none;
    color: black;
}

.space{
    margin: 10px;
    color: green;
    font: 400;
}

.message{
    color: #282828;
    text-transform: capitalize;
}

.mainContainer {
    margin: 0px 0px 10px 0;
}

.lastContainer{
 display: flex;
 align-items: center;
 /* border: #282828 1px solid; */
}

.column {  
    width: 100%;
}

.chatTitle{
    padding: 20px 0px 20px 20px;
}

.form {  
    max-width: 50%;
}

.input{
    color: #282828;

}
.input::placeholder {
    color: gray;
    font-size: 14px;
}


.form-control {
    text-transform: capitalize;
}