/* NewsCreatorTool.css */

.news-creator-tool {
  background-color: #fff;
  padding: 1.5rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.preview-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.preview-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.article-image {
  max-width: 300px;
  max-height: 300px;
  margin-top: 10px;
}